html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    background-color: #000000;
    font-size: 14px;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-spacing: 2px;
    white-space: nowrap;
}

th, td {
    padding: 2px 10px;
}

th, td.info {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

h2 {
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 1.2em;
    color: #ffffff;
    float: left;
}

h3 {
    text-align: left;
    font-weight: bold;
    padding-bottom: 2px;
    font-size: 1.1em;
    color: #ffffff;
}

.content {
    margin: 5px;
}

table.counts {
    width: auto;
    float: right;
    margin-top: 10px;
}

td.ws-break {
    white-space: normal;
}

p {
    color: #ffffff;
}

.clear {
    clear: both;
}

p.success {
    text-transform: uppercase;
    font-weight: bold;
    background: #9BBB59;
    padding: 5px 0;
    margin: 0;
}

p.bigSuccess {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    background: #9BBB59;
    padding: 5px 0;
    margin: 0;
    border-radius: 4px;
}


table.state th, table.state td {
    font-weight: bold;
    border-radius: 4px;
    border: solid 1px #000000;
}

table.counts td {
    font-weight: bold;
    border-radius: 4px;
    border: solid 2px #444444;
}

.state-up {
    background-color: #9BBB59;
}

.state-warning {
    background-color: #F79646;
}

.state-critical {
    background-color: #FF4D50;
}

.state-unknown {
    background-color: #FF5AC2;
}

.info-ok {
    background-color: #9BBB59;
}

.info-warning {
    background-color: #F79646;
}

.info-down {
    background-color: #FF4D50;
}

.info-critical {
    background-color: #FF4D50;
}

.info-unreachable, .info-acknowledged {
    background-color: #d3d3d3;
}

.info-downtime {
    background-color: #d3d3d3;
}

.info-unknown {
    background-color: #FF5AC2;
}