[Unit]
Description=naglite4 webserver
After=syslog.target

[Service]
WorkingDirectory=/opt/naglite4
User=naglite4
Group=naglite4
ExecStart=/opt/naglite4/.venv/bin/gunicorn -b 127.0.0.1:4080 main:app
# use optional environment files
EnvironmentFile=-/opt/naglite4/environment
EnvironmentFile=-/opt/naglite4/.env
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
