{% extends "base.html" %}

{% block content %}

{% macro hostcount(name, title, a_color="green") %}
{% if monitoring.host_count(name) %}
<td style="background-color: {{ a_color }};">{{ monitoring.host_count(name) }} {{ name }}</td>
{% endif %}{% endmacro %}

<table>
    <tr>
        {{  hostcount("ok", "OK" ) }}
        {{  hostcount("critical", "Acknowledged", "red" ) }}
        {{  hostcount("downtime", "Scheduled Down", "gray" ) }}
        {{  hostcount("acknowledged", "Acknowledged", "yellow" ) }}
        {{  hostcount("unreachable", "Unreachable", "gray" ) }}
    </tr>
</table>

<h2>Hosts</h2>

<table class="table is-bordered is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th>Host</th>
        <th>IP Address</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Attempts</th>
        <th>Plugin output</th>
    </tr>
    </thead>
    <tbody>
    {% for item in monitoring.problem_hosts(acknowledged=0) %}
        <tr class="{{ item.check_result.state|icinga_status_css_class }}">
            <td>{{ item.host_name }}</td>
            <td>{{ item.host_address }}</td>
            <td>{{ item.check_result.state|icinga_status }}</td>
            <td>{{ item.duration|humanize() }}</td>
            <td>{{ item.check_attempts }}/{{ item.max_check_attempts }}</td>
            <td>{{ item.check_result.output }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>

<h2>Problem services</h2>

<table class="table is-bordered is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th>Host</th>
        <th>Service</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Attempts</th>
        <th>Plugin output</th>
    </tr>
    </thead>
    <tbody>
    {% for item in monitoring.problem_services %}
        <tr class="{{ item.check_result.state|icinga_status_css_class }}">
        {% if loop.changed(item.host_name) %}
            <td>{{ item.host_name }}</td>
        {% else %}
            <td class="omitted"></td>
        {% endif %}
            <td>{{ item.service_name }}</td>
            <td>{{ item.check_result.state|icinga_status }}</td>
            <td>{{ item.duration|humanize() }}</td>
            <td>{{ item.check_attempts }}/{{ item.max_check_attempts }}</td>
            <td>{{ item.check_result.output }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>Last update: {{ current_time }}</p>
{% endblock %}