{% extends "base.html" %}

{% block content %}
    {% macro hostcount(name, title, css_class="info-ok") %}
        {% if monitoring.host_count(name) %}
            <td class="{{ css_class }}">
                {{ monitoring.host_count(name) }} {{ title }}
            </td>
        {% endif %}
    {% endmacro %}

    {% macro svccount(name, title, css_class="info-ok") %}
        {% if monitoring.service_count(name) %}
            <td class="{{ css_class }}">
                {{ monitoring.service_count(name) }} {{ title }}
            </td>
        {% endif %}
    {% endmacro %}

    {% macro check_attempts(item) %}
        {% if item.is_soft_state %}
            {{ item.check_attempts }}/{{ item.max_check_attempts }}
        {% else %}
            {{ item.max_check_attempts }} &times;
        {% endif %}
    {% endmacro %}

    <h2>Hosts</h2>

    <table class="counts">
        <tr>
            {{ hostcount("ok", "Up" ) }}
            {{ hostcount("down", "Down", "info-down" ) }}
            {{ hostcount("downtime", "Scheduled Down", "info-downtime" ) }}
            {{ hostcount("acknowledged", "Acknowledged", "info-acknowledged" ) }}
            {{ hostcount("unreachable", "Unreachable", "info-unreachable" ) }}
        </tr>
    </table>

    {% if monitoring.problem_hosts_count > 0 %}
        <table class="state">
            <thead>
            <tr>
                <th>Host</th>
                <th>IP Address</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Attempts</th>
                <th>Plugin output</th>
            </tr>
            </thead>
            <tbody>
            {% for item in monitoring.problem_hosts(unhandled=1) %}
                <tr>
                    <td class="info">
                        {{ item.host_name }}
                    </td>
                    <td class="info">
                        {{ item.host_address }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ item.check_result.state|icinga_status }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ item.duration|humanize() }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ check_attempts(item) }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }} ws-break">
                        {{ item.check_output }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if monitoring.host_count('acknowledged') %}
            <h3>Acknowledged</h3>
            <table class="state">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Attempts</th>
                    <th>Plugin output</th>
                </tr>
                </thead>
                <tbody>
                {% for item in monitoring.problem_hosts(acknowledged=1) %}
                    <tr>
                        <td class="info">
                            {{ item.host_name }}
                        </td>
                        <td class="info">
                            {{ item.host_address }}
                        </td>
                        <td class="info">
                            {{ item.check_result.state|icinga_status }}
                        </td>
                        <td class="info">
                            {{ item.duration|humanize() }}
                        </td>
                        <td class="info">
                            {{ check_attempts(item) }}
                        </td>
                        <td class="info ws-break">
                            {{ item.check_output }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if monitoring.host_count('downtime') %}
            <h3>Scheduled Down</h3>
            <table class="state">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Attempts</th>
                    <th>Plugin output</th>
                </tr>
                </thead>
                <tbody>
                {% for item in monitoring.problem_hosts(downtime=1) %}
                    <tr>
                        <td class="info">
                            {{ item.host_name }}
                        </td>
                        <td class="info">
                            {{ item.host_address }}
                        </td>
                        <td class="info">
                            {{ item.check_result.state|icinga_status }}
                        </td>
                        <td class="info">
                            {{ item.duration|humanize() }}
                        </td>
                        <td class="info">
                            {{ check_attempts(item) }}
                        </td>
                        <td class="info ws-break">
                            {{ item.check_output }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <br class="clear">
        <p class="bigSuccess">All monitored hosts up</p>
    {% endif %}

    <h2>Problem services</h2>

    <table class="counts">
        <tr>
            {{ svccount("ok", "OK" ) }}
            {{ svccount("critical", "Critical", "info-critical" ) }}
            {{ svccount("warning", "Warning", "info-warning" ) }}
            {{ svccount("acknowledged", "Acknowledged", "info-acknowledged" ) }}
            {{ svccount("downtime", "Scheduled Down", "info-downtime" ) }}
            {{ svccount("unknown", "Unknown", "info-unreachable" ) }}
        </tr>
    </table>

    {% if monitoring.problem_services_count > 0 %}
        <table class="state">
            <thead>
            <tr>
                <th>Host</th>
                <th>Service</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Attempts</th>
                <th>Plugin output</th>
            </tr>
            </thead>
            <tbody>
            {% for item in monitoring.problem_services(unhandled=1) %}
                <tr>
                    {% if loop.changed(item.host_name) %}
                        <td class="info">
                            {{ item.host_name }}
                        </td>
                    {% else %}
                        <td class="info-empty"></td>
                    {% endif %}
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ item.service_name }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ item.check_result.state|icinga_status }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ item.duration|humanize() }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }}">
                        {{ check_attempts(item) }}
                    </td>
                    <td class="{{ item.check_result.state|icinga_status_css_class }} ws-break">
                        {{ item.check_output }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if monitoring.service_count('acknowledged') %}
            <h3>Acknowledged</h3>
            <table class="state">
            <thead>
            <tr>
                <th>Host</th>
                <th>Service</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Attempts</th>
                <th>Plugin output</th>
            </tr>
            </thead>
                <tbody>
                {% for item in monitoring.problem_services(acknowledged=1) %}
                    <tr>
                        {% if loop.changed(item.host_name) %}
                        <td class="info">
                            {{ item.host_name }}
                        </td>
                        {% else %}
                            <td class="info-empty"></td>
                        {% endif %}
                        <td class="info">
                            {{ item.service_name }}
                        </td>
                        <td class="info">
                            {{ item.check_result.state|icinga_status }}
                        </td>
                        <td class="info">
                            {{ item.duration|humanize() }}
                        </td>
                        <td class="info">
                            {{ check_attempts(item) }}
                        </td>
                        <td class="info ws-break">
                            {{ item.check_output }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if monitoring.service_count('downtime') %}
            <h3>Scheduled Down</h3>
            <table class="state">
            <thead>
            <tr>
                <th>Host</th>
                <th>Service</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Attempts</th>
                <th>Plugin output</th>
            </tr>
            </thead>
                <tbody>
                {% for item in monitoring.problem_services(downtime=1) %}
                    <tr>
                        {% if loop.changed(item.host_name) %}
                        <td class="info">
                            {{ item.host_name }}
                        </td>
                        {% else %}
                            <td class="info-empty"></td>
                        {% endif %}
                        <td class="info">
                            {{ item.service_name }}
                        </td>
                        <td class="info">
                            {{ item.check_result.state|icinga_status }}
                        </td>
                        <td class="info">
                            {{ item.duration|humanize() }}
                        </td>
                        <td class="info">
                            {{ check_attempts(item) }}
                        </td>
                        <td class="info ws-break">
                            {{ item.check_output }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <br class="clear">
        <p class="bigSuccess">All monitored services up</p>
    {% endif %}

    <p>Last update: {{ current_time }}</p>
{% endblock %}