{% extends "base.html" %}

{% block content %}
    {% macro hostcount(name, title, css_class="info-ok") %}
        {% if monitoring.host_count(name) %}
            <td class="{{ css_class }}">
                {{ monitoring.host_count(name) }} {{ title }}
            </td>
        {% endif %}
    {% endmacro %}

    {% macro svccount(name, title, css_class="info-ok") %}
        {% if monitoring.service_count(name) %}
            <td class="{{ css_class }}">
                {{ monitoring.service_count(name) }} {{ title }}
            </td>
        {% endif %}
    {% endmacro %}

    <h2>Hosts</h2>

    <table class="counts">
        <tr>
            {{ hostcount("ok", "Up" ) }}
            {{ hostcount("down", "Down", "info-down" ) }}
            {{ hostcount("downtime", "Scheduled Down", "info-downtime" ) }}
            {{ hostcount("acknowledged", "Acknowledged", "info-acknowledged" ) }}
            {{ hostcount("unreachable", "Unreachable", "info-unreachable" ) }}
        </tr>
    </table>

    <table class="state">
        <thead>
        <tr>
            <th>Host</th>
            <th>IP Address</th>
            <th>Status</th>
            <th>Duration</th>
            <th>Attempts</th>
            <th>Plugin output</th>
        </tr>
        </thead>
        <tbody>
        {% for item in monitoring.problem_hosts(acknowledged=0) %}
            <tr>
                <td class="info">
                    {{ item.host_name }}
                </td>
                <td class="info">
                    {{ item.host_address }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.check_result.state|icinga_status }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.duration|humanize() }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.check_attempts }}/{{ item.max_check_attempts }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }} ws-break">
                    {{ item.check_result.output }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# TODO: show short list acknowledged hosts here #}

    <h2>Problem services</h2>

    <table class="counts">
        <tr>
            {{ svccount("ok", "OK" ) }}
            {{ svccount("critical", "Critical", "info-critical" ) }}
            {{ svccount("downtime", "Scheduled Down", "info-downtime" ) }}
            {{ svccount("acknowledged", "Acknowledged", "info-acknowledged" ) }}
            {{ svccount("unreachable", "Unreachable", "info-unreachable" ) }}
        </tr>
    </table>

    <table class="state">
        <thead>
        <tr>
            <th>Host</th>
            <th>Service</th>
            <th>Status</th>
            <th>Duration</th>
            <th>Attempts</th>
            <th>Plugin output</th>
        </tr>
        </thead>
        <tbody>
        {% for item in monitoring.problem_services %}
            <tr>
                {% if loop.changed(item.host_name) %}
                    <td class="info">
                        {{ item.host_name }}
                    </td>
                {% else %}
                    <td class="info-empty"></td>
                {% endif %}
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.service_name }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.check_result.state|icinga_status }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.duration|humanize() }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }}">
                    {{ item.check_attempts }}/{{ item.max_check_attempts }}
                </td>
                <td class="{{ item.check_result.state|icinga_status_css_class }} ws-break">
                    {{ item.check_result.output }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Last update: {{ current_time }}</p>
{% endblock %}